body ul {
  margin: 0;
  padding: 0;

   }


* {
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color:black;
}

li {
  list-style: none;

}

i h2  {
  color: #a1a1a1;
}

.center {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}


#header-top {
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  color: black;

}

.logo {
  width: 80px;
  height: 80px;
}

footer .logo {
  margin-top: 70px;
  width: 80px;
  height: 80px;
}

#header-top img {
  width: 100%;
  height: 100%;
 
}

.d7:after {content:""; clear:both; display:table}

.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}

#cart {
  display: flex;
  align-items: center;
  width: 50px;
  height: 40px;
  margin-right: 45px;

}

#cart i {
  font-style: normal;
  font-size: 20px;
  position: relative;
  margin-left: 15px;
  top: 0;
}

#phone {
  display: flex;
  align-items: center;
}

#header-menu {
    background: #FF0000;
  padding: 12px 15px 8px 15px;

}


#header-menu ul {
  justify-content: space-between;

}

#header-menu ul li a {
    cursor: pointer;
    text-transform: uppercase;
      padding: 0 35px 0 35px;

}

#header-menu ul li a:hover {
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
  border-bottom: 1px solid #fff;
}


/* Собственно сам слайдер */
.slider{
    max-width: 900px;
    position: relative;
    margin: auto;
    height: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.news-block {
  width: 200px;

}


.news-block .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 30px 0;
  margin: 23px;
  font-size: 25px;
}

.news-block button {
 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50px;
    background: lightsalmon;;

}

.news-block button:hover {
  background: lightcoral;
  transition: 0.5s;
  }

.news-block .wrap img {
    max-width: 180px;

    min-height: 240px;

}
.news-block h3 {
  margin: 5px 5px;
    color:black;
    font-size: 18px;
    text-align: center;

}
   .news-block i {
    font-style: normal;
    margin-left: 70px;
    color: black;
}

#sidebar ul li a {
  display: block;
  padding: 10px 15px;
  margin-top: 15px;
  transition: 0.9s;


}

#sidebar ul li a:hover {
  background: #ccc;

  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;

}

#sidebar {
  margin-left: 0;

}

#content  {
  margin-right: 0;

}

#container {
  display: flex;
  flex-wrap: wrap;
}

#sidebar {
  width: 20%;
}


#content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;

}

footer {
 border-top: 1px solid black;
color: black;
}

footer  p {
 flex-direction: column;
 justify-content: center;
 text-align: center;
}




#footer {
  display: flex;
  justify-content: space-between;

}

#footer img {
  width: 100%;
  height: 100%;
 
}

section h4 {
  display: block;
  padding: 10px 15px;
  margin-top: 15px;
  transition: 0.5s;

}





.twit {
  display:inline-block;
  vertical-align:bottom;
  width:24px;
  height:24px;
  margin:0 20px 0 0;
  padding:0;
  outline:none;
  background:url(img/soc_bar.png) -0px 0 no-repeat;
}

.vkon {
  display:inline-block;
  vertical-align:bottom;
  width:24px;
  height:24px;
  margin:18px 20px 0 0;
  padding:0;
  outline:none;
  background:url(img/soc_bar.png) -24px 0 no-repeat;
}

.face {
  display:inline-block;
  vertical-align:bottom;
  width:24px;
  height:24px;
  margin:0 20px 0 0;
  padding:0;
  outline:none;
  background:url(img/soc_bar.png) -48px 0 no-repeat;
}

.goog {
  display:inline-block;
  vertical-align:bottom;
  width:24px;
  height:24px;
  margin:0 20px 0 0;
  padding:0;
  outline:none;
  background:url(img/soc_bar.png) -96px 0 no-repeat;
}



.emailkt {
  display:inline-block;
  vertical-align:bottom;
  width:24px;
  height:24px;
  margin:0 20px 0 0;
  padding:0;
  outline:none;
  background:url(img/soc_bar.png) -144px 0 no-repeat;
}

@media (max-width: 1025px) {
    #header-top {
        flex-direction: column;
        padding: 15px;
    }
}

@media (max-width: 940px) {
    #header-menu ul li a {
        border: none;

    }
    #header-menu ul {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    #slider {
        text-align: center;
        justify-content: center;

    }

    #header-top {
        flex-direction: column;
    }
}

@media (max-width: 540px) {
    #header-menu ul li a, #header-menu ul li {
        width: 100%;
        text-align: center;

    }

    #footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    footer .logo {
        display: none;
    }
}


