body ul {
  margin: 0;
  padding: 0;
 }

* {
  box-sizing: border-box;
  background: url(img/bg4769.jpg);
 
}

a {
  text-decoration: none;
  color: wheat;
}

li {
  list-style: none;

}

i h2  {
  color: #a1a1a1;
}

.center {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

#header-top {
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
 
  color: white;

}

.logo {
  width: 80px;
  height: 80px;
}

footer .logo {
  margin-top: 70px;
  width: 80px;
  height: 80px;
}

#header-top img {
  width: 100%;
  height: 100%;
 
}

.d7 {background: #7BA7AB;}
.d7:after {content:""; clear:both; display:table}

.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}


#phone {
  display: flex;
  align-items: center;
}

#header-menu {
 
  padding: 12px 15px 8px 15px;

}


/* #header-menu ul {
  background: red;
} */


#header-menu ul {
  justify-content: space-between;

}

#header-menu ul li a {
  border-right: 1px solid #fff;
  padding: 0 55px;
 
}

#header-menu ul li a:hover {
  cursor: pointer;
  color: #00ff66;
  transition: 0.5s;
  border-bottom: 1px solid #00ff66;
}

#header-menu ul li:first-child a {
  padding-left: 0;
}

#header-menu ul li:last-child a {
  padding-right: 0;
  border: none;
}



#news-block {
  width: 200px;

}


#news-block .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 30px 0;
  margin: 23px;
  font-size: 25px;
  border: 1px solid #ccc;
  border-bottom: 5px solid red;
}

#news-block button {
 
  color: green;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 40px;
  }

#news-block button:hover {
  background: #00ff66;
  transition: 0.5s;
  }

#news-block img {
  max-width: 100%;
  min-height: 80%;
}

#news-block h3 {
  margin: 5px 5px;
    color: wheat;
    font-size: 15px;
    text-align: center;

}
    #news-block i {
    font-style: normal;
    margin-left: 60px;
    color: white;
}

#sidebar ul li a {
  display: block;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-top: 15px;
  transition: 0.5s;

}

#sidebar ul li a:hover {
  background: #ccc;

}

#sidebar .border {
  margin-left: 0;

}

#content .border {
  margin-right: 0;

}

.border {
  min-height: 400px;
  box-shadow: 0 0 4px 2px black;
  margin: 15px;
  padding: 15px;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

#sidebar {
  width: 20%;
}


#content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;

}

footer {
 border-top: 2px solid black;
color: wheat;
}

footer  p {
 flex-direction: column;
 justify-content: center;
 text-align: center;
}




#footer {
  display: flex;
  justify-content: space-between;

}

#footer img {
  width: 100%;
  height: 100%;
 
}

section h4 {
  color: wheat;
  display: block;
  border-left:  5px solid #c3c;
 border-bottom: 5px solid #c3c;
  padding: 10px 15px;
  margin-top: 15px;
  transition: 0.5s;

}

section h4:hover {
  background: #c3c;


}



.twit {display:inline-block;vertical-align:bottom;width:24px;height:24px;margin:0 20px 0px 0;padding:0;outline:none;background:url(img/soc_bar.png) -0px 0 no-repeat;}
 
.vkon {display:inline-block;vertical-align:bottom;width:24px;height:24px;margin:18px 20px 0px 0;padding:0;outline:none;background:url(img/soc_bar.png) -24px 0 no-repeat;}
 
.face {display:inline-block;vertical-align:bottom;width:24px;height:24px;margin:0 20px 0px 0;padding:0;outline:none;background:url(img/soc_bar.png) -48px 0 no-repeat}
 
.goog {display:inline-block;vertical-align:bottom;width:24px;height:24px;margin:0 20px 0px 0;padding:0;outline:none;background:url(img/soc_bar.png) -96px 0 no-repeat}
 
.rsskt {display:inline-block;vertical-align:bottom;width:24px;height:24px;margin:0 20px 0px 55px;padding:0;outline:none;background:urlimg/soc_bar.png) -120px 0 no-repeat}
.emailkt {display:inline-block;vertical-align:bottom;width:24px;height:24px;margin:0 20px 0px 0;padding:0;outline:none;background:url(img/soc_bar.png) -144px 0 no-repeat}